---
import PageLayout from "@/layouts/Base";
import Post from "@/components/blog/Post";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";
import { Image } from "astro:assets";
import desertImg from "@/assets/desert.jpg";

const MAX_POSTS = 3;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<main class="flex flex-col gap-6 sm:flex-row sm:gap-12">
		<div class="flex flex-1 flex-col gap-4">
			<h1 class="title mb-6">Hello there 👋</h1>
			<p>I love creating web applications that brings a smile on your face.</p>
			<p>
				Senior Software Engineer at <a
					class="cactus-link inline-block"
					href="https://www.rho.co/"
					target="_blank"
					rel="noopener noreferrer"
					aria-label="Rho business banking">Rho</a
				>.
			</p>
			<SocialList />
			<h2 class="subtitle mt-12">Latest posts</h2>
			<ul class="mb-12 flex flex-col gap-6">
				{
					allPostsByDate.map((post) => (
						<li class="flex flex-col">
							<Post post={post} />
						</li>
					))
				}
			</ul>
		</div>
		<div class="flex-1">
			<Image
				class="rounded-lg"
				src={desertImg}
				alt="Photo of Konrad with desert in the background."
				loading="eager"
				fetchpriority="high"
			/>
		</div>
	</main>
</PageLayout>
